.next
node_modules
.env.local
.env
out
coverage
.vitest
.vercel

*.md
!README.md
!CONTRIBUTING.md
!CHANGELOG.md
!LICENSE.md

.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode
*.log
dist
build
.cache

tmp/
